<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.y_movies">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/y_movie"
        android:label="@string/app_name"
        android:roundIcon="@drawable/y_movie"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplashTheme">
        <activity
            android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.home.HomeActivity"/>

        <activity android:name=".ui.listing.ListingGenreActivity"/>

        <activity android:name=".ui.listing.ListingSerieActivity"/>
        <activity android:name=".ui.listing.ListingMovieActivity"/>

        <activity android:name=".ui.listing.ListingFavoriteMovie"/>

        <activity android:name=".ui.poster.PosterMovieActivity"/>
        <activity android:name=".ui.poster.PosterSerieActivity"/>

        <activity android:name=".ui.search.SearchMovieActivity"/>
        <activity android:name=".ui.search.SearchSerieActivity"/>

    </application>

</manifest>